/* Estilo general para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    /* Agrega márgenes a la derecha e izquierda */
    margin-left: 150px;
    margin-right: 150px;
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Encabezado principal */
h1 {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Botón "Nuevo Usuario" */
input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

/* Contenedor del formulario de nuevo usuario */
.divForm {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Encabezado del formulario */
.divForm h2 {
    color: #333;
    font-size: 24px;
}

/* Estilos para los campos de entrada de texto */
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilos para los botones de guardar y cancelar */
.divForm input[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

/* Contenedor de la tabla de usuarios */
.divTabla {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Estilos para las celdas de la tabla */
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

/* Estilo para el encabezado de la tabla */
th {
    background-color: #333;
    color: #fff;
}
